#bannerIndex {
    border: blueviolet;
}

nav#menuNew {
    background-color: #b8b48580 !important;
    
}

.nav-item.{
    background-color: #72941580 !important;
    align-items: center !important;
}