#bannerIndex {
    border-radius: 30px;
}

.nav-item{
    background-color:#DDE3D6  !important;
}

.carousel-inner img {
  display:block;
  margin:auto;
  width: 40%;
  border-radius: 25px;
}

.carousel-inner li a {
  border-radius: 15px !important;
  background: #0c4128 !important; 
}

.container-fluid {
    background-color: #dafbe1;
}

.card-header {
    background-color: #13653f;
    color: #DDE3D6;
}

.card-body p{
    line-height: 7px;
}